[submodule "Panels"]
	path = Panels
	url = https://github.com/RomanKubiak/Panels.git
[submodule "CtrlrDocs"]
	path = CtrlrDocs
	url = git@github.com:unityconstruct/CtrlrDocs.git
[submodule "CtrlrLuaLib"]
	path = CtrlrLuaLib
	url = git@github.com:unityconstruct/CtrlrLuaLib.git
[submodule "CtrlrPanels"]
	path = CtrlrPanels
	url = git@github.com:unityconstruct/CtrlrPanels.git
