[submodule "Panels"]
	path = Panels
	url = https://github.com/RomanKubiak/Panels.git


[submodule "CtrlrDocs"]
	path = CtrlrDocs
	url = https://github.com/unityconstruct/CtrlrDocs.git


[submodule "CtrlrLuaLib"]
	path = CtrlrLuaLib
	url = https://github.com/unityconstruct/CtrlrLuaLib.git
